
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pointer
{
	cursor: pointer;
}
.bg-elden-wiki
{
	background-color: #222222;
}
.border-wiki
{
	border: 1px solid #c0b5a0;
}
.border-top-wiki
{
	border-top: 1px solid #c0b5a0;
}