.content-wrapper
{
	display: flex;
}
.navbar 
{
	width: auto;
	position: fixed;
	background-color: #222222;
	height: 94vh;
	padding-bottom: 0 !important;
    margin-top: 60px;
}
.content
{
	width: 100%;
	height: 100vh;
	
}