.example-spacer {
	flex: 1 1 auto;
  }
.mat-toolbar
{
	background-color: #222222;
	padding:10px 10px;
	border-bottom: 1px solid #ccc;
}
.title
{
	margin-left: 15px;
	color: #fff;
	font-size: 20px;
}
.favorite-icon
{
	margin-right: 10px;
}