.background
{
	width: 100%;
	height: 100vh;
	background-image: url('../../../assets/images/thumb-1920-1151250.jpg');
	background-size: cover;
	background-position: 0% 0%;	
}
.content-wrapper 
{
	padding: 180px 110px;
	.content 
	{
		background-color: #222222;
		color: #fff;
		border-top: 2px solid #AB966F;
		opacity: 0.9;
	}
}
