.sidenav
{
	width: 21%;
}
.content-wrapper
{
	width: 84%;	
	.content
	{
		margin-top: 100px;
	}
}
.title-wrapper 
{
	height: 100px;
}
#add-icon-wrapper
{
	height: 100px;
	.add-alumno-icon
	{
		font-size: 70px;	
		margin-right: 55px;

	}
}
